{% macro displayCategoryList(category_list) %}
{% for category in category_list%}

<div>
    <a href="{{url_for('main.category',id=category.id)}}">
        <p>{{category.cat_name|upper}}</p>
    </a>
</div>
{% endfor %} -->
{% endmacro %}

{% macro display(blogs) %}
<div class="container-fluid">
    <div class="row">
        {% if blogs %}
        {% for description in blogs %}
        <div class="col-md-4">
            <div class="thumbnail" id="carded">
                
                <div class="card-body text-center">
                    <p>{{description.post}}</p>
                    <p class="text-center">description: {{description.description}}</p>
                    <p>description:{{description.description}}</p>
                    <footer class="blockquote-footer text-center" style="color:chocolate"> written by:
                        {{description.users.username}}</footer><br>


                </div>

            </div>
        </div>
    </div>

</div>
{% endfor %}
{% endif %}


{% endmacro %}