{% macro displayBlogList(blog_list) %}
{% for blog in blog_list%}

<div>
    <a href="{{url_for('main.blog',blog_id=blog.id)}}">
        <p>{{blog.blog_name|upper}}</p>
    </a>
</div>
{% endfor %} 
{% endmacro %}

{% macro display(blogs) %}
<div class="container-fluid">
    <div class="row">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="thumbnail" id="carded">
                
                <div class="card-body text-center">
                    <p>{{blog.post}}</p>
                    <p class="text-center">blog:{{blog.description}}</p>
                    <!-- <p>blog:{{blog.blog}}</p> -->
                    <footer class="blockquote-footer text-center" style="color:chocolate"> written by:
                        {{blog.users.username}}</footer><br>
                        <a href='/comment/{{blog.id}}' style="color:aqua">comment</a><br>
                        <a href='/blog/{{blog.id}}'> viewcomment</a>

                </div>

            </div>
            
        </div>
    </div>
    {% endfor %}
    {% endif %}
    
{% endmacro %}
    {% macro displayComments(comments) %}
     {% for comment in comments %}

    <div class="container">
        <h3 class="name">{{comment.username}}</h3>
        {{comment.comment}}
   
       
    </div>
    
    
    
    {%endfor%} {%endmacro%}
  



</div>
