{% macro displayBlogList(blog_list) %}
{% for blog in blog_list%}

<div>
    <a href="{{url_for('main.blog',blog_id=blog.id)}}">
        <p>{{blog.blog_name|upper}}</p>
    </a>
</div>
{% endfor %} -->
{% endmacro %}

{% macro display(blogs) %}
<div class="container-fluid">
    <div class="row">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="col-md-4">
            <div class="thumbnail" id="carded">
                
                <div class="card-body text-center">
                    <p>{{blog.post}}</p>
                    <p class="text-center">blog: {{blog.blog}}</p>
                    <!-- <p>blog:{{blog.blog}}</p> -->
                    <footer class="blockquote-footer text-center" style="color:chocolate"> written by:
                        {{blog.users.username}}</footer><br>
                        <a href="/comment/{{blog.id}}/new">comment</a>


                </div>

            </div>
        </div>
    </div>

</div>
{% endfor %}
{% endif %}


{% endmacro %}